.answer {
    width: 296px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    color: #5B1CAE;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    margin-bottom: 25px;
}

.correct {
    border: #14FF00 solid 4px;
    margin-bottom: 21px;
    margin-top: -4px;
    margin-left: -4px;
}

.incorrect {
    border: #FF7979 solid 4px;
    margin-bottom: 21px;
    margin-top: -4px;
    margin-left: -4px;
}

.clicked {
    border: rgba(157, 87, 227, 0.5) solid 4px;
    margin-bottom: 21px;
    margin-top: -4px;
    margin-left: -4px;
}

.default {
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
}