.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17px;
    height: 55px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    color: #5B1CAE;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.correct {
    box-shadow: 0px 2px 13px 4px blue;
}

.incorrect {
    box-shadow: 0px 2px 13px 4px red;
}

.clicked {
    box-shadow: 0px 2px 13px 4px #000;
}

.default {
    box-shadow: 0px 2px 13px 4px gray;
}