.container {
    position: absolute;
    top: 265px;
    left: 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 557px;
    width: 323px;
}

.question {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 316px;
    height: 138px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
}

.title {
    color: #5B1CAE;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
}

.body {
    padding: 10px;
}

.answers__wrapper {
    position: absolute;
    left: 0px;
    top: 167px;
    height: 275px;
    width: 323px;
}

.button {
    position: absolute;
    bottom: 0;
    left: 66px;
    width: 196px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #A76AE4;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    color: #000;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
.button:disabled {
    background-color: #8e36e6;
    cursor: not-allowed;
}
.button:disabled:hover {
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
}
.button:hover {
    transition: 0.3s;
    box-shadow: 0px 2px 13px 4px rgba(162, 89, 235, 0.7);
}
